% Short article template
\documentclass[dvipsnames, hidelinks]{IEEEtran}

% Enables the use of colour.
\usepackage{xcolor}
% Syntax high-lighting for code. Requires Python's pygments.
\usepackage{minted}
% Enables the use of umlauts and other accents.
\usepackage[utf8]{inputenc}
% Diagrams.
\usepackage{tikz}
% Settings for captions, such as sideways captions.
\usepackage{caption}
% Symbols for units, like degrees and ohms.
\usepackage{gensymb}
% Latin modern fonts - better looking than the defaults.
\usepackage{lmodern}
% Allows for columns spanning multiple rows in tables.
\usepackage{multirow}
% Better looking tables, including nicer borders.
\usepackage{booktabs}
% More math symbols.
\usepackage{amssymb}
% More math layouts, equation arrays, etc.
\usepackage{amsmath}
% More math fonts, like mathbb.
\usepackage{amsfonts}
% More theorem environments.
\usepackage{amsthm}
% More column formats for tables.
\usepackage{array}
% Adjust the sizes of box environments.
\usepackage{adjustbox}
% Better looking single quotes in verbatim and minted environments.
\usepackage{upquote}
% Better blank space decisions.
\usepackage{xspace}
% Better looking tikz trees.
\usepackage{forest}
% URLs.
\usepackage{hyperref}
% For plotting.
\usepackage{pgfplots}
% Images.
\usepackage{graphicx}
\usepackage{float}
\usepackage{setspace}
% Nice symbols for degrees, etc.
\usepackage{gensymb}
% Nicer tables.
\usepackage{tabularx}
% More nicer tables.
\usepackage{booktabs}
% For doing programmatical stuff.
\usepackage{arrayjob}
% Uncomment for watermarks.
% \usepackage{draftwatermark}

% Various tikz libraries.
% For drawing mind maps.
\usetikzlibrary{mindmap}
% For adding shadows.
\usetikzlibrary{shadows}
% Extra arrows tips.
\usetikzlibrary{arrows.meta}
% Old arrows.
\usetikzlibrary{arrows}
% Automata.
\usetikzlibrary{automata}
% For more positioning options.
\usetikzlibrary{positioning}
% Creating chains of nodes on a line.
\usetikzlibrary{chains}
% Fitting node to contain set of coordinates.
\usetikzlibrary{fit}
% Extra shapes for drawing.
\usetikzlibrary{shapes}
% For markings on paths.
\usetikzlibrary{decorations.markings}
% For advanced calculations.
\usetikzlibrary{calc}

% Make Tikz do new stuff.
\pgfplotsset{compat=1.16}

% GMIT colours.
\definecolor{gmitblue}{RGB}{20,134,225}
\definecolor{gmitred}{RGB}{220,20,60}
\definecolor{gmitgrey}{RGB}{67,67,67}

% Set some minted styling.
\usemintedstyle{bw}
\setminted{frame=lines,framesep=2mm,baselinestretch=1.2,fontsize=\footnotesize,linenos}

% Uncomment for a watermark for solutions.
% \SetWatermarkText{Solutions}

% Make bullet points looks nicer.
\renewcommand\labelitemi{--}

% Use courier for typewriter font.
\renewcommand{\ttdefault}{pcr}

\renewcommand{\familydefault}{\sfdefault}
% Increase line spacing.
% \onehalfspacing
 
% A center paragraph column type for tables.
\newcolumntype{x}[1]{>{\centering\arraybackslash\hspace{0pt}}p{#1}}

% Define the blank symbol for Turing machines.
\newcommand{\bl}{\( \sqcup \)}
